@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&display=swap');

.slider{
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    padding-top: 0px;
    align-self: center;
}

.hours{
    display: flex;
    flex-direction: row;
    gap: 2.6em;
}

.hourly-weather-box{
    align-items: center;
    max-width: 26em;
    margin-left: 0em;
    margin-bottom: 20px;
    margin-top: 10px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex; 
    flex-direction: row;
    border-radius: 20px;
    gap: 17%;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.714) 0%, rgba(217, 217, 217, 0.043) 100%);
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
}

.right-box{
    color: white;
    font-style: normal;
    width: 50em;
}

.dataNumbers{
    gap: 25%;
    justify-content: right;
    text-align: right;
    align-items: right;
    color: white;
    color: #F9AF03;
    font-weight: 700;
    font-style: normal;
    text-shadow:
    -0.02em -0.02em 0.02em #000,  
     0.02em -0.02em 0.02em #000,
    -0.02em  0.02em 0.02em #000,
     0.02em  0.02em 0.02em #000;
}

.time{
    font-size: 3rem;
    margin-bottom: -1.4em;
}

.description{
    font-size: 1.1em;
    width: 10em;
}

.imgfootsteps{
    width: 50%;
    height: 50%;
    margin-left: 1em;
}

.imginfo{
    display: grid;
    flex-direction: column;
}

.datalabel{
    margin: 0;
}