.slider{
    width: 30em;
    margin-left: 10px;
}

.hours{
    display: flex;
    flex-direction: row;
    gap: 2.6em;
}

.hourly-weather-box{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    gap: 20%;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
}
.left-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
}

.right-box{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: right;
    align-items: right;
    color: white;
}


